window {
/*    margin: 5px;
    border-radius: 10px;
    border: 20px solid #aa0077;*/
    background-color: transparent;
/*    box-shadow: 5px 5px 5px rgba(45,45,45,0.7);*/
}

#input {
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    background-color: #555555;
    color: #cdd6f4;
}

#inner-box {
  margin: 0px;
  background-color: #1e1e2e;
}

#outer-box {
  margin: 50px;
  padding: 50px;
  background-color: #1e1e2e;
  border-radius: 4px;
  border: 2px solid #aa0077;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.9);
}

#scroll {
  margin: 0px;
}

#text {
  margin: 2px;
  color: #cdd6f4;
}

#entry {
  padding: 2px;
  margin: 0px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #313244;
}

#img {
  margin: 2px;
  padding-left: 4px;
  border-radius: 4px;
}
